<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <nav class="navbar bg-info navbar-expand-lg">
      <a href="/"><h2 class="navbar-item mr-3 text-light brand"> <strong>Đèn không lối thoát</strong> </h2></a>
      <a href="/"><img id="first-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgQbVn6FIixovCimpcddtsuI9B_UnNHWd1fd57jkxSwxSyQnky" alt="Đèn"></a>
      <a class="text-light ml-auto" href="/add-item">Add something? (Đèn thôi nha)</a>
    </nav>
    <div class="space row">
      <div class="col-md-4 m-auto">
        <div class="card py-5 bg-info">
          <h3 class="my-auto ml-5 text-light ok-babe d-inline-block">Ok babe ~~</h3>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-dark navbar">
      <h6 class="text-light nav-item">Made by me</h6>
      <h6 class="text-light nav-item">Partner: Google, Unplash</h6>
    </footer>
  </body>
</html>
