{% extends 'base.html' %}

{% block page_content %}
<div class="space row">
  <div class="col-md-5 mx-auto mt-5">
    <div class="container">
      <form class="" method="post">
        <input class="form-control" type="text" name="title" value="{{ light.title }}" palaceholder="Tên">
        <textarea class="form-control" name="description" rows="4" cols="70">{{ light.description }}</textarea>
        <input class="form-control" type="text" name="image" value="{{ light.img }}" placeholder="link">
        <input class="form-control" type="int" name="price" value="{{ light.price }}" placeholder="Giá">

        {% for message in get_flashed_messages() %}
          <p class="text-primary ml-3">{{message}}</p>
        {% endfor %}

        <input class="btn btn-primary" type="submit" name="" value="Sửa">
        <a class="btn btn-sm btn-secondary" href="/admin">Quay về trang Admin</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
