<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <img src="static/logo.svg" alt="The New Yorker">

    <div class="li_head">
      <ul>
        <li> <a href="#">News</a> </li>
        <li> <a href="#">Culture</a> </li>
        <li> <a href="#">Books</a> </li>
        <li> <a href="#">Humor</a> </li
      </ul>
    </div>

    <div class="li_head">
      <a href="#">Books</a><br>
      <a href="#">November 27, 2017 Issue</a>
    </div>

    <div class="header">
      <h3><strong>What Mary Oliver's Critics Don't Understand</strong></h3>
      <h2><strong>For America's beloved poet, paying attention to nature is a springboard to the sacred</strong></h2>
      <p>By <a href="#">Ruth Franklin</a></p>
      <ul>
        <li><img src="static/facebook.svg" alt="facebook"></li>
        <li><img src="static/twitter.svg" alt="twitter"></li>
        <li><img src="static/email.svg" alt="email"></li>
        <li>
          <br>
          <img src="static/img.jpg" alt="picture">
          <p>Oliver users nature as a springboard to the sacred - the beating heart  of her work</p>
          <p><small>Illustration by Deanna Halsall</small></p>
        </li>
      </ul>

      <p>"Mary Oliver is saving my life,” Paul Chowder, the title character of Nicholson Baker’s novel “<a href="#">The Anthologist</a>,” scrawls in the margins of Oliver’s “<a href="#">New and Selected Poems, Volume One</a>.” A struggling poet, Chowder is suffering from a severe case of writer’s block. His girlfriend, with whom he’s lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones—Louise Bogan, Theodore Roethke, Sara Teasdale—before discovering Oliver. In her work, he finds consolation: “I immediately felt more sure of what I was doing.” Of her poems, he says, “They’re very simple. And yet each has something.”</p>
      <ul>
            I don’t know exactly what a prayer is.<br>
            I do know how to pay attention, how to fall down<br>
            into the grass, how to kneel down in the grass,<br>
            how to be idle and blessed, how to stroll through the fields,<br>
            which is what I have been doing all day.<br>
      </ul>
      <p>The cadences are almost Biblical. “Attention is the beginning of devotion,” she urges elsewhere.</p>
      <p>This article appears in the print edition of the November 27, 2017, issue, with the headline “The Art of Paying Attention.”</p>
    </div>

    <div class="most_popular">
      <h2><strong>Most Popular</strong></h2>
      <ol>
        <li>
          <br>
          <p>Letter from Washington</p>
          <small><a href="#">The danger of  President Pence</a></small>
          <p>By <a href="#">Jane Mayer</a> </p>
        </li>
        <li>
          <br>
          <p>Our Columnists</p>
          <small><a href="#">No End in Sight to the Brexit Madness</a></small>
          <p>By <a href="#">John Cassidy</a> </p>
        </li>
        <li>
          <br>
          <p>Satire from The Borowitz Report</p>
          <small><a href="#">Mueller Rents Giant Warehouse to Store Evidence Against Trump</a></small>
          <p>By <a href="#">Andy Borowitz</a> </p>
        </li>
      </ol>
    </div>

    <div class="cartoon">
      <p>Daily cartoon</p>
      <h1><a href="#">Daily cartoon: Friday, November 24th</a></h1>
      <h1><strong>Forgetting the garnish.</strong></h1>
      <p>By <a href="#">Liana Finck</a></p>
      <p>
        Nov.24,2017<br>
        Elements
      </p>
      <h1><strong><a href="#">At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</a></strong></h1>
      <h1><strong>How long would it take a junior computer-science major to dirupt an election?</strong></h1>
      <p>By <a href="#">Anna Wiener</a></p>
      <p>Nov.24,2017</p>
    </div>

    <div class="sthg">
      <p><a href="#">Lister to the New Yorker Radio Hour</a></p>
      <p><a href="#">By the Cover</a></p>
      <p><a href="#">Play the Jigsaw Puzzle</a></p>
    </div>
  </body>
</html>
