<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js">
    </script>
    <script type="text/javascript" src="static/js/popper.js">
    </script>
    <script type="text/javascript" src="static/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <body>
    <div class="text-center">
      <img src="static/logo.svg" alt="">
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a href="#">Books</a>
      </li>
      <li class="nav-item">
        <a href="#">Culture</a>
      </li>
      <li class="nav-item">
        <a href="#">Books</a>
      </li>
      <li class="nav-item">
        <a href="#">Humor</a>
      </li>
    </ul>
    <a href="#">Books</a>
    <a href="#">November 27, 2017 Issue</a>
    <h3>What Mary Oliver's Critics Don't Understand</h3>
    <h2>For America's beloved poet, paying attention to nature is a springboard to the sacred</h2>
    <p>By <a href="#">Ruth Franklin</a></p>
    <ul>
      <li><img src="static/facebook.svg" alt="facebook"></li>
      <li><img src="static/twitter.svg" alt="twitter"></li>
      <li><img src="static/email.svg" alt="email"></li>
    </ul>
    <img src="static/img.jpg" alt="">
    <p>Oliver users nature as a springboard to the sacred - the beating heart  of her work</p>
    <p><small>Illustration by Deanna Halsall</small></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <blockquote cite="http://">
      I don’t know exactly what a prayer is.<br>
      I do know how to pay attention, how to fall down<br>
      into the grass, how to kneel down in the grass,<br>
      how to be idle and blessed, how to stroll through the fields,<br>
      which is what I have been doing all day.
    </blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h3>Most popular</h3>
    <ol>
      <li>
        <p>Letter from Washington</p>
        <small><a href="#">The danger of  President Pence</a></small>
        <p>By <a href="#">Jane Mayer</a> </p>
      </li>
      <li>
        <p>Our Columnists</p>
        <small><a href="#">No End in Sight to the Brexit Madness</a></small>
        <p>By <a href="#">John Cassidy</a> </p>
      </li>
      <li>
        <p>Satire from The Borowitz Report</p>
        <small><a href="#">Mueller Rents Giant Warehouse to Store Evidence Against Trump</a></small>
        <p>By <a href="#">Andy Borowitz</a> </p>
      </li>
    </ol>
    <div class="">
      <span>Daily cartoon</span>
      <a href="#">
        <h2>Daily cartoon: Friday, November 24th</h2>
      </a>
      <h2>Forgetting the garnish.</h2>
      <p>By <a href="#">Liana Finck</a></p>
      <p>Nov.24,2017</p>
      <span>Elements</span>
      <a href="#">
        <h2>At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</h2>
      </a>
      <h2>How long would it take a junior computer-science major to dirupt an election?</h2>
      <p>By <a href="#">Anna Wiener</a></p>
      <p>Nov.24,2017</p>
    </div>
    <a href="#">
      <h4>Lister to the New Yorker Radio Hour</h4>
    </a>
    <a href="#">
      <h4>By the Cover</h4>
    </a>
    <a href="#">
      <h4>Play the Jigsaw Puzzle</h4>
    </a>

  </body>
</html>
